@import "../variables.scss";
@import "../media_queries.scss";

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    font-size: large;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s all ease;
    z-index: 823648;

    @include mobile {
        display: none;
    }

    .fix {
        position: fixed;
        top: 0;
        left: 0;
    }

    .toggler {
        display: none;

        /* Important styles */
        #toggle {
            display: block;
            width: 28px;
            height: 30px;
            margin: 30px auto 10px;
        }

        #toggle span:after,
        #toggle span:before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
        }
        #toggle span:after {
            top: 9px;
        }
        #toggle span {
            position: relative;
            display: block;
        }

        #toggle span,
        #toggle span:after,
        #toggle span:before {
            width: 100%;
            height: 5px;
            background-color: #888;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

        /* on activation */
        #toggle.on span {
            background-color: transparent;
        }
        #toggle.on span:before {
            transform: rotate(45deg) translate(5px, 5px);
        }
        #toggle.on span:after {
            transform: rotate(-45deg) translate(7px, -8px);
        }
        #toggle.on + .navbar {
            opacity: 1;
            visibility: visible;
        }
    }
    .logo img {
        height: 50px;
        width: auto;
    }
    .nav-links ul {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        li {
            line-height: 26px;
            a {
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
                    monospace;
                font-size: 13px;
                padding: 10px;
                color: $heading_color;
                span {
                    color: $text_color_primary;
                }
                &:hover {
                    color: $text_color_primary;
                }
            }
            .btn {
                color: $text_color_primary;
                margin-left: 15px;
                padding: 12px 16px;
            }
        }
    }

    &.mobile-view {
        @include mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 80px;
            width: 100vw;
            background-color: #0a192f;
            padding: 0;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
        }
        .logo img {
            @include mobile {
                position: absolute;
                top: 0;
                left: 0;
                margin: 10px;
            }
        }
        .toggler {
            @include mobile {
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
                cursor: pointer;
            }
        }
        .nav-links ul {
            @include mobile {
                display: none;
            }
            &.active {
                @include mobile {
                    display: block;
                    position: absolute;
                    top: 100px;
                    width: 90%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                li {
                    @include mobile {
                        margin: 20px 0;
                        text-align: left;
                        width: 100%;
                    }
                    a {
                        @include mobile {
                            font-size: 30px;
                            // padding: 20px 0;
                        }
                    }
                    .btn {
                        @include mobile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
