@import "../variables.scss";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    position: relative;
    .attribute {
        padding: 10px;
        position: absolute;
        bottom: 0;
    }
}
